@import '@styles/variables.scss';

.background {
  background-color: $login-background;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}
