@mixin button {
  width: 10%;
  height: 2rem;
  box-sizing: border-box;
  border: solid #8930fd;
  border-radius: 24px;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.purple {
  @include button();

  &:hover {
    opacity: 40%;
  }
}

.white {
  @include button();

  background: var(--color-white);

  &:disabled {
    opacity: 40%;
  }
}
