@mixin button {
  width: 50%;
  height: 3rem;
  box-sizing: border-box;
  border: solid #8930fd;
  border-radius: 24px;

  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white); // 보라색 버튼에는 흰색 글씨가 가독성이 더 좋음
}

.purple {
  @include button();

  background: linear-gradient(0deg, var(--color-green) 10%, var(--color-white) 10%);

  &:hover {
    opacity: 40%;
  }
}

.white {
  @include button();

  background: var(--color-white);

  &:disabled {
    opacity: 40%;
  }
}
