@import '@styles/variables.scss';

@mixin button {
 
  display: inline-block;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: $main-color;
  color: white;
  transition: background-color 0.3s;
  
  &:hover {
    background-color: $main-color;
    font-weight: bold;
    opacity: 50%;
  }
}

.purple {
  @include button();

  &:hover {
    opacity: 40%;
  }
}

.white {
  @include button();

  background: var(--color-white);

  &:disabled {
    opacity: 40%;
  }
}