@import '@styles/variables.scss';

.datePicker {
  display: flex;
  background: #fff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid white;
  box-sizing: border-box;
  width: 140px;
  height: 46px;
  color: black;
  text-align: center;
  outline: none;
}

.customHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(248, 239, 239, 0.1);
  height: 100%;
  padding: 0 0 0 24px;
  color: blue;

  .month {
    font-size: 18px;
    font-weight: 500;
  }

  .year {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding-right: 5px;
    cursor: pointer;
    margin-left: 20px;
  }

  .monthButton {
    width: 34px;
    height: 34px;
    padding: 5px;

    + .monthButton {
      margin-left: 24px;
    }

    &:hover {
      background-color: rgba(purple, 0.08);
    }

    &:disabled {
      cursor: not-allowed;
      svg {
        fill: black;
      }
    }
  }
}

.calenderWrapper {
  background-color: $main-third-color;
}

.selected {
  background-color: blue;
  border-radius: 50%;

  &:hover {
    border-radius: 50%;
    background-color: blueviolet;
  }
}

.unselected {
  &:hover {
    border-radius: 50%;
    background-color: rgba(red, 0.08);
  }
}
