@import '@styles/variables.scss';

.join_team{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

    .title{
        display: flex;
        justify-content: center;
        width: 800px;
        margin: 60px;
        font-size: 1.5rem;    
    }
    .team{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        font-size: 1.5rem;

        p {
            margin: 20px 0px;
            text-wrap: nowrap;
        }
    }
    .content{
        margin: 30px;
        font-size: 1.5rem;
        color: $main-color;
    }
}