@import '../../styles/variables.scss';

.search{
  display: flex;
  flex-direction: column;
  width: 100%;

  .search_bar {
    display: flex;
    background-color: whitesmoke; opacity: 80%;
    border-radius: 1rem;

    input {
      flex: 1;
      background-color: transparent;
      padding : 1rem 1.5rem;
      font-size: medium;

      &:focus {
        outline:none;
      }
    }

    button{
      margin : 1rem 1.5rem;
      img{
        width: 2rem;
      }
    }
  }

  .page_link{
      display: flex;
      justify-content: end;
      margin: 0.5rem 0rem;
      font-size: medium;
      font-weight:500;
      color:white;
    }
}