@import '../../styles/variables.scss';

.search {
  margin:1rem;
  max-width: 800px;
  width: 80%;
  color: white;

  .content{
    // font-size: xx-large;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 1rem;

    span{
      background-color: $main-color;
    }
  }

  .search_bar {
    display: flex;
    background-color: whitesmoke; opacity: 80%;
    border-radius: 1rem;
    align-items: center;
    font-size: medium;
    width: 100%;

    input {
      flex: 1;
      background-color: transparent;
      border: none;
      padding : 1rem 1.5rem;
      width: 100%;
      color: black;
      font-size: large;

      &:focus {
        outline:none;
      }
    }

    button{
      margin : 1rem 1.5rem;

      img{
        width: 2rem;
      }
    }
  }

  .page_link{
    display: flex;
    justify-content: end;
    margin: 0.5rem 0rem;
    font-size: medium;
    font-weight:500;
  }
}