@import '@styles/variables.scss';

.teamlist_wrap{
    height: 100%;

    .teamlist{
        display: flex;
        flex-direction: column;
        height: 100%;

        .head{
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            border-bottom: 1px solid $sub-color;
            font-weight: 600;

            .btn {
                height: 20px;
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: small;
            }
        }

        .body{
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
            overflow-y: auto;
            border-bottom: 1px solid $sub-color;

            .team{
                display: flex;
                width: 750px;
                justify-content: space-between;
                margin-top: 20px;
                padding: 20px 10px;

                .team_logo{
                    width:100px;
                }

                .team_summary{
                    display: flex;
                    flex-direction: column;
                    width:550px;
                    margin: 5px 0px;

                    .team_name {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 10px;
                        
                        p {
                            font-size:0.5rem;
                        }
                        
                        span{
                            font-size:1.4rem;
                            font-weight: 600;
                            margin-right: 10px;
                        }

                        input {
                            width: 300px;
                            font-weight: bold;
                            font-size:1.4rem;
                            border-bottom: 1px solid gray;
                        }

                        .btn {
                            display: flex;
                            justify-content: space-between;
                            width: 140px;
                            
                            button {
                                padding: 5px;
                                border-radius: 10px;
                                box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
                                

                                &:hover {
                                    color:$main-color;
                                    font-weight: bold;
                                    background-color: $sub-color;
                                }
                            }
                        }
                    }

                    .team_description {
                        textarea {
                            width: 500px;
                            height: 50px;
                            resize: none;
                            border-bottom: 1px solid gray;
                        }
                    }

                }
                .team_clipbord {
                    margin: 5px 0px;
                    font-size: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                }
            }
            .team_content{
                margin-top: 10px;
                height: 100%;
                display: flex;
                flex-direction: column;

                .tap{
                    display: flex;
                    justify-content: space-around;
                    border-bottom: 1px solid lightgray;
                    .tap{
                        padding: 10px 20px;
                        
                        &:hover{
                            color: $main-third-color;
                        }

                        &.active{
                            font-weight: bold;
                            border-bottom: 2px solid $main-color; 

                            &:hover{
                                color:black;
                            }
                        }
                    }
                }
                .content{
                    height:250px;
                    overflow-y: auto;
                    padding: 10px 20px;

                    .team_member{
                        display: flex;
                        flex-direction: column;

                        .line{
                            display: flex;
                            border-radius: 20px;
                            padding: 12px 50px 12px 30px;
                            margin: 10px;
                            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
                            
                            &.notApprove{
                                background-color: $sub-color;
                            }

                            .line_head{
                                flex:1;
                            }
                            .line_body{
                                flex:6;
                                display: flex;
                                margin: 0px 10px;
                                align-items: center;

                                span{
                                    margin-right: 50px;
                                    font-weight: bold;
                                }
                            }
                            .line_tail{
                                flex:2;
                                display: flex;
                                justify-content: space-around;
                                margin: 0px 20px;
                                
                                button{
                                    border-radius: 5px;
                                    padding: 0px 5px;
                                    background-color: $main-second-color;
                                }
                                .approve{
                                    color: $main-color;
                                    border:1px solid $main-color;
                                    &:hover{
                                        color:white;
                                        background-color: $main-color;
                                    }
                                }
                                .reject{
                                    color: red;
                                    border:1px solid red;
                                    &:hover{
                                        background-color: red;
                                        color:white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
}
::-webkit-scrollbar-thumb {
    background-color: $main-fifth-color; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 모양 */
}