@import '@styles/variables.scss';

.info{
    // background-color: beige;
    display: flex;
    flex-direction: column;
    height: 100%;

    .title{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid $sub-color;
        font-weight: 600;
    }

    .content{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}