@import '@styles/variables.scss';

.background {
  background-color: $login-background;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.content {
  margin-top: 30px;
}

.main-box {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 40px 40px;
  background: #fff; // 배경 색상
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // 그림자 효과
  border-radius: 8px; // 모서리 둥글게
  width: 1000px;
  margin: 3rem auto; // 중앙 정렬
}
