.background {
  background-image: url('../../../public/images/competition/SearchPageLanding.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 32rem;
  
  .searchbar{
    height: 28rem;
    display: flex;    
    justify-content: center;
    align-items: center;
  }
}

.searchlist{
  margin-bottom: 5rem;
}