@import '@styles/variables.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .head{
        margin: 60px 0px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .body{
        width: 1200px;
        display: flex;
        padding: 20px;
        height: 650px;
        .tap{
            flex:1;
            margin-right: 40px;
            padding: 40px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

            .taplist{
                display: flex;
                flex-direction: column;
                height: 100%;
                font-weight: bold;

                .home{
                    flex:1;
                }
                .team{
                    flex:1;
                }
                .competition{
                    flex:2;
                }
                .setting{
                    flex:1;
                }
                .title{
                    font-size: 0.8rem;
                    font-weight: 400;
                    margin-bottom: 5px;
                }
                .content{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    .inactive{
                        &:hover{
                            color: $main-fifth-color;
                        }
                    }
                    .active{
                        color: $main-color;
                    }
                }
            }
        }
        .content_wrap{
            flex:8;
            margin-left: 40px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 40px;

            .title{
                display: flex;
                justify-content: space-between;
                padding: 0px 20px 20px 20px;
                border-bottom: 1px solid $main-fifth-color;
                font-weight: 600;

                .sub{
                    // height: 100%;
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: small;
                }
            }
        }
    }
}

.info {

}