@import '@/styles/variables.scss';

.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Pretendard-Regular';

  .logo {
    width: 500px;
    height: 200px;
    margin: 10px;
  }

  span {
    color: $main-color;
    font-weight: bold;
  }

  .link_container {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-top: 50px;

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 130px;
      border: 4px solid $main-third-color;
      background-color: rgba(216, 180, 254, 0.2);

      p {
        border-bottom: 3px solid $main-third-color;
        padding: 5px 10px;
        font-weight: bold;
      }
    }
  }

  .arrow_down {
    position: absolute;
    bottom: 20px;
    margin-top: 20px;
    animation: bounce 2s infinite;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}
