@import '@styles/variables.scss';

.info{
    display: flex;
    flex-direction: column;
    height: 100%;

    .title{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid $sub-color;
        font-weight: 600;
    }

    .content{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        overflow-y: auto;
    }

    .empty{
        width: 100%;
        height: 100%;
    }
}

::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
}
::-webkit-scrollbar-thumb {
    background-color: $main-fifth-color; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 모양 */
}
