@import '@/styles/variables.scss';

.img{
    padding: 5px;
    position: relative;
    width: 100%;

    .teamdetail{
        width: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    }

    .edit{
        width: 30%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-radius: 50px;
        padding: 5px;
        margin: 5px;
        background-color: $sub-color;

        img{
            width: 100%;
        }
    }
    .competition{
        width: 300px;
        height: 200px;
        border-radius: 20px;
    }
}
