@import '@styles/variables.scss';

.info{
    // background-color: beige;
    display: flex;
    flex-direction: column;
    height: 100%;

    .title{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid $sub-color;
        font-weight: 600;

        .btn {
            height: 20px;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: small;
        }
    }

    .content{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .input_wrap{
            display: flex;
            padding: 0px 0px 10px 150px;
        }
        .input_title {
            width: 100px;
            display: flex;
            align-items: center;
        }
        .input{
            width: 500px;
            padding: 10px 0px;

            input{
                width: 250px;
                padding: 0px 10px;
                border-bottom: 0.1px solid lightgray; 
                outline: none;
                
                &:focus {
                    border-radius: 5px;
                    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
                }
            }

            button{
                margin: 0px 30px;
                border-radius: 5px;
                padding: 5px 10px;
                color: $main-forth-color;
                background-color: $sub-color;
            }

            .address{
                width:400px;
            }
        }

        .button_wrap{
            display: flex;
            justify-content: center;
        }
    }
}

