@import '@styles/variables.scss';

.footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
  & > div {
    text-align: center; // 버튼을 가운데 정렬
  }
  .btn_submit {
    margin-right: 20px;
  }
  .btn_cancel {
    margin-left: 20px;
  }
}

.header {
  .logo {
    display: flex;
    width: 200px;
    margin: auto;
  }
}
.title {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  width: 500px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  height: 300px;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }
  .form {
    display: flex;
    padding: 12px;
    background: #fff;
    border: 1px solid $main-color;
    box-shadow: 0px 3px 3px 0px rgb(219, 216, 216);
    border-radius: 8px;
    outline: none;
    resize: none;
    width: 500px;
    height: 200px;
  }
  p {
    margin-top: 2px;
    width: 500px;
    font-size: 12px;
    text-align: end;
  }
}
