@import '@/styles/variables.scss';

.icons_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:$main-third-color;
  font-weight: 600;

  .icon {
    cursor: pointer;
    text-align: center;

    .active{
      img{
        background-color: $main-third-color;
      }
    }
    .inactive{
      img{
        background-color: $main-second-color;
      }
    }
    img {
      border-radius: 20px;
      padding: 10px;
      width: 50px;
    }

    p{
      font-size: 1rem;
    }
  }
}
