.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Footer {
  background-color: #260063;
  color: white;
  padding: 20px 3rem 20px 3rem;
  text-align: center;
  font-family: 'Pretendard-Regular';
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left{
    margin-right: 50px;
    /* 컴포넌트를 위쪽 왼쪽 정렬되게 해줘 */
  }

  .right {
    text-align: right;
    margin-top : 2rem;
  }

  .logo {
    margin-top : 1rem;
  }

  .team,
  .address,
  .copyright,
  .powered {
    margin: 5px 0;
  }

  .information{
    margin-bottom: 4rem;
  }
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}