@import '@/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;

    .background {
      position: absolute;
      width: 800px;
      top: 10%;
      right: 60%;
      z-index: -1;
    }

    .certificate {
      position: relative;
      display: flex;
      justify-content: center;
      height: auto;
      .image {
        width: 100%;
        z-index: 2;
      }
    }
  }
  .search {
    text-align: start;
    font-weight: bold;
    color: $main-color;
  }
}

.box {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  background: #fff;
  box-shadow: 2px 6px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 1000px;
  height: 800px;
  margin-top: 40px;
}

.code {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  margin-top: 20px;
}

.reward {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 300px;
  height: auto;
  z-index: 3;
  top: 140px;
}

.event_name_award {
  position: absolute;
  font-size: 30px;
  text-align: center;
  width: 300px;
  height: auto;
  z-index: 3;
  top: 190px;
}

.event_name {
  position: absolute;
  font-size: 30px;
  text-align: center;
  width: 300px;
  height: auto;
  z-index: 3;
  top: 170px;
}

.content {
  position: absolute;
  font-size: 30px;
  width: auto;
  height: auto;
  z-index: 3;
  top: 250px;
}

.name {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  width: 300px;
  text-align: center;
  height: auto;
  z-index: 3;
  top: 300px;
}

.line_name {
  position: absolute;
  font-size: 40px;
  width: auto;
  height: auto;
  z-index: 3;
  top: 360px;
}

.challengersquare {
  position: absolute;
  font-size: 25px;
  width: auto;
  height: auto;
  z-index: 3;
  top: 365px;
}

.signature {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  height: auto;
  z-index: 3;
  top: 450px;
  left: 110px;
}

.line_signature {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 3;
  top: 500px;
  left: 110px;
}
.signature_footer {
  position: absolute;
  width: auto;
  height: auto;
  font-size: 25px;
  z-index: 3;
  top: 510px;
  left: 140px;
}

.date {
  position: absolute;
  width: 200px;
  height: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  z-index: 3;
  top: 450px;
  left: 360px;
}
.date_footer {
  position: absolute;
  width: auto;
  height: auto;
  font-size: 25px;
  z-index: 3;
  top: 510px;
  left: 425px;
}
.line_date {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 3;
  top: 500px;
  left: 360px;
}

.organization {
  position: absolute;
  width: 200px;
  height: auto;
  z-index: 3;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  top: 450px;
  left: 610px;
}
.line_organization {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 3;
  top: 500px;
  left: 610px;
}

.organization_footer {
  position: absolute;
  width: auto;
  height: auto;
  font-size: 25px;
  z-index: 3;
  top: 510px;
  left: 620px;
}

.download {
  display: flex;
  justify-content: end;
  width: 950px;
}

.download_btn {
  width: 30px;
}
