$main-color: #8930fd;
$sub-color: #efe3ff;
$login-background: #f9f6ff;
$main-second-color: #F8F8FC;
$main-third-color: #7B73AE;
$main-forth-color: #C598FF;
$main-fifth-color: #EFEAF5;
$main-sub-color: #E1CAFF;