$main-color: #8930fd;
$backgroundColor: #f9f6ff;

.background {
  background-image: url('../../../public/images/auth/bg-left.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: auto;
  grid-column: 1fr 1fr;
}

.container {
  background-color: $backgroundColor;
  grid-column: 2fr 2fr;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn {
  width: auto;
  height: auto;
}
