@import '@styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .full_container{
        width : 1000px;

        .link_container{
            margin: 2rem 0rem 1rem 0rem;
            .backBtn{
                display: flex;
            }
        }

        .content_container{
            display: flex;
            height: 20rem;
            margin-bottom: 2rem;
        }

        .info_container{
            background-color: $main-third-color;
        }
    }
}